:host{
    display: flex;
}

app-chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height:89vh;
}

@media (max-width: 980px) {
    :host{
        display: block;
    }
    app-sidebar, app-chat {
        flex: none;
        width: 100%;
        height: 89vh;
        scrollbar-width: none;
    }
}